@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GameFont';
  src: url('../Components/game-font-7.woff2') format('woff2');
  /* Add other formats if available */
}

body {
  margin-top: 30px;
  font-family: 'Game Font 7';
  font-weight: 200;
}


  
  .website-title {
    font-family: 'Game Font 7', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase; /* This can help achieve a more square look */
    letter-spacing: 0.05em; /* Slightly increase spacing between letters */
  }
  
  .website-title span {
    position: absolute;
    opacity: 0;
    animation: fadeInOut 20s linear infinite;
  }
  
  
 

  
  .menu {
    position: fixed;
    height: 100vh;
    background: #F9D401;
    width: 60px;
    box-shadow: 1px 0 2px rgba(0,0,0,.2);
    transition: width 0.3s ease;
  }
  
  .menu.expanded {
    width: 40vw;
  }

  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 10px; /* Positioned on the right */
    z-index: 10;
    background: #333;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }

  .container {
    width: 90%;
    margin-left: 10vw;
    background: #FDFDFD;
    transition: 1s;
    transform-origin: left center;
    color: #D2D2D0;
  }
  
  .content {
    padding: 100px 20%;
  }
  
  nav {
    position: absolute;
    margin-top: 50%;
    left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    ul {
      color: white;
      text-transform: uppercase;
      list-style-type: none;
    }
    li {
      line-height: 2em;
      letter-spacing: .3em;
    }
    a {
      font-size: 30px;
      text-decoration: none;
      color: white;
      font-weight: 600;
      &:hover {
        color: #eee;
      }
    }
  }
  
  .menu.expanded nav {
    opacity: 1;
  }
  
  p {
    line-height: 1.5em;
  }
  
  h1 {
    color: #bbb;
  }

.home-bdy {
    margin-top: 450px; /* Move HomeBdy down by 250px */
}